:root {
  --font-family-bebas: "Bebas Neue", cursive;
  --font-family-Helvetica: Helvetica, sans-serif;
  --color474747: #474747;
  --colorbdbdbd: #bdbdbd;
  --color5f5f5f: #5f5f5f;
  --color464646: #464646;
  --width: 940px;
  --margin: 30px auto 0px;
}

.main-content__content{
  font-size: 19px;
  font-family: var(--font-family-bebas);
}
.content-item__img{
  margin-top: 20px;
}

.content-item__content{
  margin-top: 30px;
}

.row{
  margin-bottom: 0px;
}
.time-blog span{
  font-size: 14px;
  font-family: var(--font-family-bebas);
  color: var(--color464646);


}

.time-blog div{
 font-size: 12px;
 font-family: var(--font-family-Helvetica);
 color: var(--colorbdbdbd);
 margin-bottom: 20px;

}

.content-blog div{
  margin-bottom: 20px;
}

.content-blog{
  max-width: 70%;
}

.main-content__seperate{
  margin: 30px 0 50px 0;
}


.next-slider {
  margin-top: 30px;
  width: 220px;
  height: 5px;
  display: flex;
}

.next-slider__nocolor {
  width: 30px;
  background-color: #e8e6e6;
}
.next-slider__color {
  width: 30px;
  background-color: #9a9a9a;
  margin-left: 8px;
}
