/*================
    media 
==================*/
@media screen and (min-width: 960px) {
  .banner-img {
    transition: all 0.3s linear;
  }
}
@media screen and (max-width: 960px) and (min-width: 768px) {
  /* ==========================================Home======================================== */
  /* header */

  header {
    width: 600px;
    margin: 0 auto;
    display: block;
  }

  .logo {
    text-align: center;
    margin: 10px 0;
  }
  .menunav {
    width: 650px;
  }
  .menunav-item:first-child {
    padding-left: 0px !important;
  }

  .menunav-item a {
    font-size: 18px;
  }

  /* slider */

  .slidebar {
    padding-left: 10%;
  }
  .banner-img {
    width: 660px;
    height: 360px;
    transition: all 0.3s linear;
  }
  .banner-content {
    left: 0%;
    width: 100px;
    height: 40px;
  }

  .banner-content__1 {
    padding: 3px 0px 0px 5px;
    font-size: 10px;
  }

  .banner-content__2 {
    font-size: 12px;
  }

  .down-content {
    width: 660px;
    text-align: center;
  }

  /* new */
  .new {
    width: 550px;
    transition: all 0.3s linear;
  }

  .new-item {
    width: 200px;
    margin-top: 50px;
  }
  /* card */
  .title-top {
    width: 700px;
  }
  .card {
    transition: all 0.3s linear;
    width: 500px;
  }

  .card-item {
    width: 180px;
    margin-top: 50px;
  }

  /* ========================================Contact======================================== */
  .main {
    width: 600px;
  }
  .title-main {
    text-align: center;
  }
  .main-content__title {
    width: 600px;
  }
  .article {
    width: 600px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .article-item {
    width: 300px;
  }
  /* =========================================Blog============================================== */
  .content-item__img{
    width: 440px;
    height: 205px;
  }
  .content-item__content{
    width: 460px;
  }
  .next-slider{
    width: 440px;
    justify-content: center;
  }


  /* ======================================About us============================================= */
 .card + .about-card__img{
   width: 660px;
   margin-left: 10%;
 }
 .about-card__img{
  width: 660px;}
  .about-card .card{
    width: 660px;
    margin: 0 auto;

  }
.card-item__content1,.card-item__contentmain1{
  width: 280px;
}
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  /* ==========================================Home======================================== */

  header {
    width: 400px;
    margin: 0 auto;
    display: block;
  }

  .logo {
    text-align: center;
    margin: 10px 0;
  }
  .menunav {
    width: 400px;
  }

  .menunav-item a {
    font-size: 18px;
  }

  /* slider */

  .slidebar {
    padding-left: 10%;
  }
  .banner-img {
    width: 630px;
    height: 250px;
    transition: all 0.3s linear;
  }
  .banner-content {
    left: 0%;
    width: 100px;
    height: 40px;
  }

  .banner-content__1 {
    padding: 1px 0px 0px 1px;
    font-size: 10px;
  }
  .banner-content__2 {
    font-size: 12px;
  }

  .down-content {
    width: 630px;
    text-align: center;
  }

  /* new */
  .new {
    width: 550px;
    transition: all 0.3s linear;
  }

  .new-item {
    width: 200px;
    margin-top: 50px;
  }
  /* card */
  .title-top {
    width: 700px;
  }
  .card {
    transition: all 0.3s linear;
    width: 500px;
  }

  .card-item {
    width: 180px;
    margin-top: 50px;
  }

  /* ========================================Contact======================================== */
  .main {
    width: 450px;
  }
  .title-main {
    text-align: center;
  }
  .main-content__title {
    width: 450px;
  }
  .article {
    width: 450px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .article-item {
    width: 220px;
  }
  .content-item__img{
    width: 440px;
    height: 205px;
  }
  .content-item__content{
    width: 460px;
  }
  .next-slider{
    width: 440px;
    justify-content: center;
  }
    /* ======================================About us============================================= */
    .about-card__img{
      width: 460px;
      text-align: center;
    }
    .about-card{
      width: 400px;
      margin: 0 auto;
    }
    .card-item__content1,.card-item__contentmain1{
      width: 280px;
    }
}

@media screen and (max-width: 600px) {
  header {
    width: 400px;
    margin: 0 auto;
    display: block;
  }

  .logo {
    text-align: center;
    margin: 10px 0;
  }
  .menunav {
    width: 400px;
  }

  .menunav-item a {
    font-size: 18px;
  }

  /* slider */

  .slidebar {
    padding-left: 2%;
  }
  .banner-img {
    width: 480px;
    height: 300px;
    transition: all 0.3s linear;
  }
  .banner-content {
    left: 0%;
    width: 100px;
    height: 40px;
  }

  .banner-content__1 {
    padding: 1px 0px 0px 1px;
    font-size: 10px;
  }
  .banner-content__2 {
    font-size: 12px;
  }

  .down-content {
    width: 480px;
    text-align: center;
  }

  /* new */
  .new {
    width: 480px;
    transition: all 0.3s linear;
  }

  .new-item {
    width: 480px;
    margin-top: 50px;
  }
  /* card */
  .title-top {
    width: 480px;
  }
  .card {
    transition: all 0.3s linear;
    width: 480px;
    text-align: center;
  }

  .card-item {
    width: 480px;
    margin-top: 50px;
  }

  footer {
    flex-direction: column;
  }
  /* ========================================Contact======================================== */
  .main {
    width: 350px;
  }
  .title-main {
    text-align: center;
  }
  .main-content__title {
    width: 350px;
  }
  .article {
    width: 350px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .article-item {
    width: 200px;
  }
  .content-item__img{
    width: 440px;
    height: 205px;
  }
  .content-item__content{
    width: 460px;
  }
  .next-slider{
    width: 440px;
    justify-content: center;
  }
    /* ======================================About us============================================= */
    .about-card{
      width: 400px;
      margin: 0 auto;
    }
    .card-item__content1,.card-item__contentmain1{
      width: 280px;
      margin-left: 20%;
    }
    .about-card__img{
      width: 460px;
      text-align: center;
    }
}
